<!-- 
    ##################################################
    Figure out how to remove whitespace from edit form
    ################################################## 
-->

{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit {{ pageTitle }}
{% endblock %}

{% block body %}
    <h3> Edit {{ pageTitle }}</h3>
    <form action="/wiki/{{pageTitle}}/edit" method="POST">
        {{ form }}
        {% csrf_token %}
        <input type="submit" value="Edit">
    </form>
{% endblock %}