{% extends 'auctions/layout.html' %}
{% load humanize %}

{% block body %}
    <h2>{{ listings.0.category }}</h2>
    {% for listing in listings %}
        {% if listing.active %}
            <div class="div-listing">
                {% if listing.image %}
                    <img src="/images/{{ listing.image }}" width="300px" height="300px"> <!-- shows image from model if not empty -->
                {% else %}
                    <img src="/images/upload/default.jpg" width="300px" height="300px"> <!-- shows default image if image in model empty -->
                {% endif %}
                <h4><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h4>
                <h6>{{ listing.description }}</h6>
                {% if listing.bid_listing.last.currentBid %}
                    <h6>£{{ listing.bid_listing.last.currentBid|intcomma }}</h6>
                {% else %}
                    <h6>£{{ listing.startingBid|intcomma }}</h6>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock body %}