{% extends 'network/layout.html' %}

{% block body %}


    <div class="outside-heading-div">
        <div class="heading-div">
            <h1 class="heading">{{ profile.username|title }}</h1>
            <h4 class="followers">{{ followers }} Followers</h4>
            {% if following %}
                <h4 class="followers">{{ following }} Following  |</h4>
            {% else %}
                <h4 class="followers">0 Following  |</h4>
            {% endif %}

            {% if user.is_authenticated %}
                {% if current_user != profile.id %}
                    <div class="profile-form-div">
                        <form action="{% url 'follow' profile.id %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% if being_followed %}
                                <button class="follow-button" name="follow" value="unfollow">Unfollow</button>
                            {% else %}
                                <button class="follow-button" name="follow" value="follow">Follow</button>
                            {% endif %}
                        </form>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>


    {% comment "Code for posts before pagination added" %}
        {% for post in posts %}
            <div class="post-div profile-div">
                <div class="post">
                    <h3 class="author"><a href="{% url 'profile' post.author_id %}">{{ post.author|title }}</a></h3>
                    <p class="date">{{ post.date_created }}</p>
                    <p class="content">{{ post.content }}</p>
                    <p class="likes"><i class="fa fa-heart" area-hidden="true" id="heart" style="color:red"></i>{{ post.likes }}</p>
                </div>
            </div>
        {% endfor %}
    {% endcomment %}


    {% for post in page_obj %}
        <div class="post-div profile-div">
            <div class="post">
                <h3 class="author"><a href="{% url 'profile' post.author_id %}">{{ post.author|title }}</a></h3>
                <p class="date">{{ post.date_created }}</p>
                <p class="content">{{ post.content }}</p>
                <p class="likes"><i class="fa fa-heart" area-hidden="true" id="heart" style="color:red"></i>{{ post.likes }}</p>
            </div>
        </div>
    {% endfor %}



    <div class="page-nav-div">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}
                
                <li class="page-item disabled"><a href="#" class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a></li>

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

{% endblock body %}

