{% extends 'network/layout.html' %}

{% block body %}
    <h2 class="heading">{{ profile.username|title }}</h2>
    <h5>Followers: {{ followers }}</h5>
    {% if following %}
        <h5>Following: {{ following }}</h5>
    {% else %}
        <h5>Following: 0</h5>
    {% endif %}

    {% if user.is_authenticated %}
        {% if current_user != profile.id %}
            <form action="{% url 'follow' profile.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% if being_followed %}
                    <button name="follow" value="unfollow">Unfollow</button>
                {% else %}
                    <button name="follow" value="follow">Follow</button>
                {% endif %}
            </form>
        {% endif %}
    {% endif %}

    {% for post in posts %}
        <div class="post">
            <h3 class="author"><a href="{% url 'profile' post.author_id %}">{{ post.author|title }}</a></h3>
            <p class="content">{{ post.content }}</p>
            <p class="date">{{ post.date_created }}</p>
            <p class="likes"><i class="fa fa-heart" area-hidden="true" style="color:red"></i>{{ post.likes }}</p>
        </div>
    {% endfor %}

{% endblock body %}

